.Dictionary {
  text-align: center;
  padding: 10px;
}

.Dictionary .form-control {
  margin: 0 auto;
  padding: 10px 5px;
  color: rgba(0, 0, 0, 0.6);
}

.Dictionary section {
  padding: 20px;
}

.Dictionary .suggestion {
  opacity: 60%;
  text-align: start;
}

.Dictionary h1 {
  letter-spacing: 5px;
  font-size: 28px;
}
